.lauryn {
position: absolute;
top: 490px;
left: 400px;
display: block;
background-image: url('http://www.naturalpawpals.com/img/lauryn.png');
width: 95px;
height: 91px;
background-repeat: no-repeat;
}
.velvet {
position: absolute;
top: 490px;
left: 520px;
display: block;
background-image: url('http://www.naturalpawpals.com/img/velvet.png');
width: 94px;
height: 91px;
background-repeat: no-repeat;
}
.cotton {
position: absolute;
top: 490px;
left: 640px;
display: block;
background-image: url('http://www.naturalpawpals.com/img/cotton.png');
width: 96px;
height: 93px;
background-repeat: no-repeat;
}
.chewy {
position: absolute;
top: 490px;
left: 760px;
display: block;
background-image: url('http://www.naturalpawpals.com/img/chewy.png');
width: 95px;
height: 92px;
background-repeat: no-repeat;
}
.ddimgtooltip{
box-shadow: 2px 2px 10px #0a0a0a; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 2px 2px 10px #0a0a0a;
-moz-box-shadow: 2px 2px 10px #0a0a0a;
display:none;
position:absolute;
color: black;
z-index:2000;
padding: 10px;
}